<?xml version="1.0"?>
<robot name="goal" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
  <!-- <link name="set"/>

  <joint name="fixed" type="fixed">
    <parent link="set"/>
    <child link="goal"/>
  </joint> -->

  <link name="goal">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0001" length="0.0001"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.8" length="3"/>
      </geometry>
    </visual>

    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
      </inertial>
  </link>

  <gazebo reference="goal">  
    <visual>  
      <material>  
        <ambient>0 0.5 0 0.01</ambient>  
        <diffuse>0.46 0.46 0.46 0.5</diffuse>  
        <specular>0.5 0.5 0.5 32</specular>  
        <emissive>0.46 0.46 0.46 0.5</emissive>  
      </material>  
    </visual>  
  </gazebo>

</robot>
